<% include ../header %>
<div class="container">
    <h3>Create a new article</h3>
    <form method="post">
        <div>Title: <input type="text" name="title" /></div>
        <div>Body: <textarea name="body" style="width:800px;height:500px" class="wyseditor"></textarea></div>
        <div><input type="submit" value="Save" /></div>
    </form>
</div>
<% include ../footer %>