<% include header %>
<div class="container">
    <div class="span3 well" style="float:right">
        Sidebar
    </div>
    <div class="span7 well">
        <h3><%= article.title%></h3>
        <div>
            <p><%- article.body%></p>
        </div>
    </div>
</div>
<% include footer %>