    </body>
    <script type="text/javascript" src="/js/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/src/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.wyseditor').wysihtml5();
        });
    </script>
</html>