<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <link type="text/css" rel="stylesheet" href="/src/bootstrap-wysihtml5.css" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
        <style type="text/css">
        body {
          padding-top: 60px;
        }
        @media (max-width: 979px) {
          body {
            padding-top: 0px;
          }
        }
        </style>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/create">Create New Article</a></li>
              <li><a href="/manage">Manage Articles</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>